name: 'Chromatic'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "temp disabled"
        run: echo "pausing chromatic & storybook for the redesign"

      # - name: Publish to Chromatic
      #   uses: chromaui/action@v1
      #   with:
      #     projectToken: ${{ secrets.CHROMATIC_TOKEN }}
      #     exitZeroOnChanges: true
      #     exitOnceUploaded: true

